[submodule "src/infinigen/infinigen_gpl"]
	path = src/infinigen/infinigen_gpl
	url = https://github.com/princeton-vl/infinigen_gpl.git
[submodule "src/infinigen/datagen/customgt/dependencies/eigen"]
	path = src/infinigen/datagen/customgt/dependencies/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "src/infinigen/datagen/customgt/dependencies/argparse"]
	path = src/infinigen/datagen/customgt/dependencies/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "src/infinigen/datagen/customgt/dependencies/cnpy"]
	path = src/infinigen/datagen/customgt/dependencies/cnpy
	url = https://github.com/rogersce/cnpy.git
[submodule "src/infinigen/datagen/customgt/dependencies/glm"]
	path = src/infinigen/datagen/customgt/dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/infinigen/datagen/customgt/dependencies/json"]
	path = src/infinigen/datagen/customgt/dependencies/json
	url = https://github.com/nlohmann/json.git
[submodule "src/infinigen/datagen/customgt/dependencies/stb"]
	path = src/infinigen/datagen/customgt/dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "src/infinigen/datagen/customgt/dependencies/glfw"]
	path = src/infinigen/datagen/customgt/dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/infinigen/OcMesher"]
	path = src/infinigen/OcMesher
	url = https://github.com/princeton-vl/OcMesher.git
