[submodule "worldgen/terrain/gen_occlusions/dependencies/eigen"]
	path = process_mesh/dependencies/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "worldgen/terrain/gen_occlusions/dependencies/argparse"]
	path = process_mesh/dependencies/argparse
	url = git@github.com:p-ranav/argparse.git
[submodule "worldgen/terrain/gen_occlusions/dependencies/cnpy"]
	path = process_mesh/dependencies/cnpy
	url = git@github.com:rogersce/cnpy.git
[submodule "worldgen/terrain/gen_occlusions/dependencies/indicators"]
	path = process_mesh/dependencies/indicators
	url = git@github.com:p-ranav/indicators.git
[submodule "worldgen/terrain/gen_occlusions/dependencies/tinycolormap"]
	path = process_mesh/dependencies/tinycolormap
	url = git@github.com:yuki-koyama/tinycolormap.git
[submodule "worldgen/terrain/gen_occlusions/dependencies/glm"]
	path = process_mesh/dependencies/glm
	url = git@github.com:g-truc/glm.git
[submodule "worldgen/terrain/gen_occlusions/dependencies/fast_obj"]
	path = process_mesh/dependencies/fast_obj
	url = git@github.com:thisistherk/fast_obj.git
[submodule "process_mesh/dependencies/json"]
	path = process_mesh/dependencies/json
	url = https://github.com/nlohmann/json.git
[submodule "process_mesh/dependencies/stb"]
	path = process_mesh/dependencies/stb
	url = https://github.com/nothings/stb.git
