Python-*
Python-*.tgz
blender
blender.tar.xz
Blender.app

.coverage
coverage.xml

*/rclone.zip
*/miniconda.sh

.vscode
*/wandb
.vscode

slurm-*.out
__pycache__
*.blend
*.blend1
*.obj
*.DS_Store
**._.DS_Store
**.swp

.idea
Blender.app/
blender.dmg
screenlog.*

dev_install.sh

dev.py

cache
Blender-FLIP-Fluids
*.mp4

*.npz
*.obj
*.blend
*.blend1
*.out
profiles_*.npz
*outputs
snippets
resources
times.txt
wandb
screenlog.0
polycounts.txt
START_*
FINISH_*
*_times.txt
_start.txt
config/custom.gin
*.so
*pyx.cpp
blends
generated_surface_script.py
build
*egg-info
dist
build
blends
*.ipynb_checkpoints

process_mesh
worldgen
