repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.4.9
  hooks:
    # Run the linter.
    - id: ruff
    # Sort imports
    - id: ruff
      args: [--select, I, --fix]
    # Run the formatter.
    - id: ruff-format
