repos:
- repo: local
  hooks:
    # Run the linter.
    - id: ruff
      name: ruff
      entry: uv run ruff check --fix
      language: system
      types: [python]
    # Sort imports
    - id: ruff-import-sort
      name: ruff import sort
      entry: uv run ruff check --select I --fix
      language: system
      types: [python]
    # Run the formatter.
    - id: ruff-format
      name: ruff format
      entry: uv run ruff format
      language: system
      types: [python]
