# Inspired by https://github.com/pytorch/pytorch/blob/main/MANIFEST.in

# Explanation: files denoted here are excluded from `python setup.py sdist`,
#     but some are still explicitly included in the .whl via

include .gitmodules

recursive-include infinigen *.*
recursive-include tests *.*
recursive-include docs *.*
recursive-include infinigen_examples *.*

prune */__pycache__
prune infinigen/datagen/customgt/build/*
prune infinigen/datagen/customgt/dependencies/*

global-exclude *.o *.so *.pyc .git  *.png