[build-system]
requires = ["setuptools", "numpy", "Cython"]
build-backend = "setuptools.build_meta"

[project]
name = "infinigen"
readme = "README.md"
license = {file = "LICENSE"}
dynamic = ["version"]

description = "Infinite Photorealistic Worlds using Procedural Generation"
keywords = [
    "computer vision",
    "data generation",
    "procedural"
]
classifiers = [
    "Framework :: Blender",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10"
]

requires-python = "==3.10.*"
dependencies = [
    "bpy==3.6.0",
    "einops",
    "flow_vis",
    "frozendict",
    "geomdl",
    "gin_config>=0.5.0",
    "imageio",
    "ipython",
    "json5",
    "landlab>=2.6.0",
    "matplotlib",
    "networkx",
    "numpy<2",
    "opencv-python",
    "pandas",
    "psutil",
    "pycparser==2.22",
    "pyrender",
    "python-fcl",
    "Rtree",
    "scikit-image",
    "scikit-learn",
    "scipy",
    "shapely",
    "submitit",
    "tqdm",
    "trimesh",
    "vnoise",
    "zarr",
    "networkx",
]

[project.optional-dependencies]
dev = [
    "pytest",
    "pytest-ordering",
    "pytest-cov",
    "pytest-xdist",
    "pytest-timeout",
    "pytype",
    "ruff",
    "isort",
    "tabulate", # for integration test results
    "pre-commit"
]

vis = [
    "numba", # for ground truth visuals
    "pyglet<2" # for trimesh_scene.show()
]

wandb = [
    "wandb"
]

[tool.setuptools]
# include-package-data is terribly named. package-data is still included if false,
# just not the package-data setuptools would otherwise autogenerate from MANIFEST.in or version control
include-package-data = false

[tool.setuptools.packages.find]
include = ["infinigen*"]

# must be specified as module paths with ., using classic filepaths with / will silently not do anything
exclude = [
    "infinigen.datagen.customgt.dependencies*",
    "infinigen.datagen.customgt.build*",
]

[tool.setuptools.package-data]

"*" = ["*.gin", "*.txt", "*.json"]

# Must be specified as paths relative to infinigen/
"infinigen" = [
    "terrain/**/*.soil", # extra files for SoilMachine
    "terrain/lib/**/*.so", # created by terrain compilation
    "terrain/lib/**/*.o", # created by terrain compilation
    "datagen/customgt/build/customgt", # created during opengl compilation
    "assets/creatures/parts/nurbs_data/*.npy", # stores creature nurbs centroids data, ideally will be deprecated
]

[tool.setuptools.dynamic]
version = {attr = "infinigen.__version__"}

[tool.pytest.ini_options]
testpaths = "tests"
junit_family = "xunit2"
markers = ["nature", "indoors", "skip_for_ci"]
timeout = 240

filterwarnings = [

    "ignore:The value of the smallest subnormal for <class 'numpy.float:UserWarning",

    # ignore warnings from landlab, not our problem
    "ignore:pkg_resources is deprecated as an API:DeprecationWarning", 
    "ignore:Importing from numpy.matlib is deprecated since 1.19.0:PendingDeprecationWarning",
    "ignore:Please import `label` from the `scipy.ndimage` namespace; the `scipy.ndimage.measurements` namespace is deprecated and will be removed in SciPy 2.0.0:DeprecationWarning"

]

[tool.cibuildwheel]
test-extras = ["dev"]
test-command = "pytest tests"

[tool.ruff]
target-version = "py310"

exclude = [
    "*/dependencies/",
    "infinigen/OcMesher"
]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]
"infinigen/assets/*" = ["F841"] #transpiler currently creates lots of unused variables

[tool.pytype]
inputs = ['infinigen', 'infinigen_examples']