gin-config>=0.5.0
tqdm
opencv-python
matplotlib
scipy
imageio
scikit-image==0.19.3
submitit
frozendict
flow_vis
trimesh
einops
geomdl
numpy==1.26.2
wandb
jinja2
shapely
landlab==2.7.0
scikit-learn
psutil
pyrender
pytest
pandas
