gin-config>=0.5.0
tqdm
opencv-python
matplotlib
scipy
imageio
scikit-image==0.23.2
submitit
frozendict
flow_vis
trimesh
einops
geomdl
numpy==1.26.4
wandb
jinja2
shapely
landlab==2.8.0
scikit-learn
psutil
pyrender
pytest
pandas
bpy==3.6
