
name: Lint & Test

on:
  pull_request:
    branches:
    - main
    - develop*
  push:
    branches:
    - main
    - develop*

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  INFINIGEN_INSTALL_TERRAIN: False
  INFINIGEN_INSTALL_CUSTOMGT: False

jobs:

  checks:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository with submodules
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Lint with ruff
        run: |
          pip install ruff
          # stop the build if there are Python syntax errors or undefined names
          ruff check --output-format=github --select=E9,F63,F7,F82 .
          # default set of ruff rules with GitHub Annotations
          #ruff --format=github . # to be enabled in a future PR

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install infinigen & dependencies
        run: |
          pip install .[dev]

      - name: Test with pytest
        run: |
          pytest tests -k 'not skip_for_ci'